[Unit]
Description=MAX186 Gamepad HID Daemon
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/usr/local/bin/gamepad_driver
WorkingDirectory=/usr/local/bin
Restart=always
RestartSec=3
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

